<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" th:replace="base::layout(~{::section})">

<head>
	<meta charset="UTF-8">
	<title>home page</title>

</head>

<body>
	<section>
		<div class="home-section">
			<div class="container">
				<h1>Welcome to our Library</h1>
				<p>Explore a vast collection of books and manage your reading experience seamlessly with our Library
					Management System.</p>
			</div>
		</div>
	</section>
</body>

</html>